In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('customer.csv')

In [3]:
data

   Customer ID  Age (Years)  Income (USD) Purchased (Y/N)
0            1           25         50000             Yes
1            2           32         60000              No
2            3           47         80000             Yes
3            4           52         45000              No
4            5           29         70000             Yes

In [19]:
da = data[pd.'Income (USD)']
print(da)

0    50000
1    60000
2    80000
3    45000
4    70000
Name: Income (USD), dtype: int64